# Server
NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

# MongoDB
MONGO_URI=mongodb+srv://Alexvega2031:Omozondo@nigeria-gala-fashion-we.8dwa2jd.mongodb.net/nigeria-gala-fashion-week

# JWT
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_DAYS=7

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Paystack
PAYSTACK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Voting
DEFAULT_VOTE_PRICE_NGN=100
PLATFORM_SHARE_PERCENT=10

# Super Admin seed (used only by npm run seed)
SUPERADMIN_NAME=Super Admin
SUPERADMIN_EMAIL=admin@example.com
SUPERADMIN_PASSWORD=ChangeMe123!
